:root {
    --dark: #0E7AD8ff;
    --light: #fff;
    --gray: #b9c6ae;
  }
  
body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-family: Georgia, serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark);
    color: var(--light);
}

h1 {
    font-size: 200%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    background-color: unset;
    color: var(--gray);
    font-weight: bold;
    font-size: 125%;
    text-decoration: none;
}

nav a:hover {
    color: var(--light);
}

main img {
    border-radius:8px;
    box-shadow: 7px 7px 5px var(--gray);
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 150%;
}

.subhead {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/skyline_pencil.jpg");
    background-size: cover;
    background-position: center;
}

.subsection {
    max-width: 96%;
    margin: 2% auto;
    text-align: center;
}

.name {
    color: var(--dark);
    font-weight: bold;
}

article p {
    margin: 2% 0;
    font-size: 125%;
}

.maincard {
    margin: 1% 0;
    font-size: 125%;
}

.portfolio {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 7px 7px 5px var(--gray);
    margin: 20px;
    border-radius:8px;
    color: var(--light);
    background-color: var(--dark);
    text-decoration: none;
    font-size: 200%;
}

.card > img {
    box-shadow: none;
    max-width: 200px;
    max-height: 360px;
}

form p {
    margin: 1% 0;
}

label {
    display: block;
}

button {
    padding: 1% 2%;
    color: var(--light);
    background-color: #13293d;
    border: none;
    border-radius:8px;
    outline: none;
    cursor: pointer;
}

footer {
    padding: 2%;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
}
  
@media screen and (max-width: 768px) {
    header, nav {
        flex-direction: column;
        font-size: large;
    }

    main {
        max-width: 1200px;
        font-size: x-large;
    }
}
  